@import "tailwindcss";

@layer components {
    .tab-underline {
        @apply relative cursor-pointer font-semibold;
    }

    .tab-underline::after {
        content: "";
        @apply absolute left-0 -bottom-1 h-[2.7px] w-0 bg-[#3498db] transition-all duration-300;
    }

    .tab-underline:hover::after {
        @apply w-full;
    }
}